Repository NEERC/volunteers-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pnpm-lint, pnpm-check

mypy:
  name: mypy
  entry: poetry run mypy .
  language: system
  require_serial: true
  pass_filenames: false
  additional_dependencies: []

pnpm-lint:
  name: pnpm-lint
  entry: cd ui && pnpm run lint --fix
  language: system
  require_serial: true
  pass_filenames: false

pnpm-check:
  name: pnpm-check
  entry: cd ui && pnpm run check
  language: system
  require_serial: true
  pass_filenames: false

Export for badges
  ui/src/i18n/locales/ru/translation.json
  ui/src/routes/_logged-in/$yearId/contacts.tsx
  ui/src/routes/_logged-in/$yearId/days/$dayId/edit.tsx
Due: pnpm-lint, pnpm-check

mb fix
  volunteers/api/v1/admin/user_day/router.py
  volunteers/services/year.py
Due: mypy

Initial attendance
  AGENTS.md
  ui/src/client/sdk.gen.ts
  ui/src/client/types.gen.ts
  ui/src/data/use-admin.tsx
  ui/src/i18n/locales/ru/translation.json
  ui/src/routes/_logged-in/$yearId/settings.tsx
  volunteers/alembic/versions/2025_11_16_1122-cd2a2b0b1b25_make_manager_positions.py
  volunteers/api/v1/admin/assessment/__tests__/__init__.py
  volunteers/api/v1/admin/assessment/__tests__/test_router.py
  volunteers/api/v1/admin/assessment/router.py
  volunteers/api/v1/admin/assessment/schemas.py
  volunteers/api/v1/admin/position/router.py
  volunteers/api/v1/admin/position/schemas.py
  volunteers/api/v1/admin/router.py
  volunteers/api/v1/admin/year/router.py
  volunteers/api/v1/admin/year/schemas.py
  volunteers/api/v1/attendance/__init__.py
  volunteers/api/v1/attendance/router.py
  volunteers/api/v1/attendance/schemas.py
  volunteers/api/v1/year/router.py
  volunteers/api/v1/year/schemas.py
  volunteers/models/models.py
  volunteers/schemas/position.py
  volunteers/schemas/year.py
  volunteers/services/year.py
Due: mypy, pnpm-lint, pnpm-check

Attendance feature
  docker-compose-dev.yaml
  ui/src/client/sdk.gen.ts
  ui/src/client/types.gen.ts
  ui/src/components/AttendanceSelector.tsx
  ui/src/components/MainLayout.tsx
  ui/src/data/query-keys.ts
  ui/src/data/use-year.tsx
  ui/src/hooks/useAssignmentOperations.ts
  ui/src/i18n/locales/en/translation.json
  ui/src/i18n/locales/ru/translation.json
  ui/src/routeTree.gen.ts
  ui/src/routes/_logged-in/$yearId/attendance.tsx
  ui/src/routes/_logged-in/$yearId/contacts.tsx
  ui/src/routes/_logged-in/$yearId/medals.tsx
  ui/src/routes/_logged-in/$yearId/registration-forms.tsx
  ui/src/routes/_logged-in/$yearId/results.tsx
  ui/src/routes/_logged-in/$yearId/settings.tsx
  ui/src/routes/_logged-in/create.tsx
  ui/src/routes/_logged-in/users/$userId.tsx
  ui/src/routes/_logged-in/users/index.tsx
  ui/src/utils/should-be-logged-in.ts
  volunteers/api/router.py
  volunteers/api/v1/admin/assessment/router.py
  volunteers/api/v1/admin/assessment/schemas.py
  volunteers/api/v1/admin/router.py
  volunteers/api/v1/admin/user_day/router.py
  volunteers/api/v1/admin/user_day/schemas.py
  volunteers/api/v1/attendance/router.py
  volunteers/api/v1/attendance/schemas.py
  volunteers/schemas/user_day.py
  volunteers/services/year.py
Due: mypy, pnpm-lint, pnpm-check

Swap halls and positions
  README.md
  ui/src/routes/_logged-in/$yearId/days/$dayId/edit.tsx
Due: pnpm-lint, pnpm-check

Swap halls and positions (#25)
  README.md
  ui/src/routes/_logged-in/$yearId/days/$dayId/edit.tsx
Due: pnpm-lint, pnpm-check

Correct scoring
  poetry.lock
  pyproject.toml
  ui/src/client/types.gen.ts
  ui/src/hooks/useAssignmentUpdates.ts
  ui/src/i18n/locales/en/translation.json
  ui/src/i18n/locales/ru/translation.json
  ui/src/integrations/socketio/socket.ts
  ui/src/routes/_logged-in/$yearId/attendance.tsx
  ui/src/routes/_logged-in/$yearId/results.tsx
  volunteers/alembic/versions/2025_11_30_2151-8e31dc6646bd_add_gender_to_users.py
  volunteers/alembic/versions/2025_12_01_2033-3d81aecb66a0_add_photo_fields_to_user.py
  volunteers/alembic/versions/2025_12_01_2300-1006dcfcc630_change_gender_to_enum.py
  volunteers/alembic/versions/2025_12_04_2027-f474eb5497c4_allow_fractional_assessment_values.py
  volunteers/alembic/versions/2025_12_04_2235-ed61a9a0344a_add_experience_field_to_application_form.py
  volunteers/alembic/versions/2025_12_05_0158-2beb515f444b_remove_experience_field_from_.py
  volunteers/alembic/versions/2025_12_05_2004-81c24b11a34f_add_score_and_description_to_position.py
  volunteers/alembic/versions/2025_12_05_2040-f1c13aace233_force_re_check_dependencies.py
  volunteers/alembic/versions/2025_12_05_2049-dd5145b00290_add_score_to_positions.py
  volunteers/alembic/versions/2025_12_06_0007-01cb3cdf72e0_add_unique_constraint_positions_per_year.py
  volunteers/alembic/versions/2025_12_06_1234_add_save_for_next_year_to_positions.py
  volunteers/alembic/versions/2025_12_07_0240-d8ff83645346_many_updates.py
  volunteers/alembic/versions/2025_12_07_1951-4cfe8ccd192a_update_position_scores.py
  volunteers/alembic/versions/2025_12_07_2127-aeda0ee4365c_extra_experience.py
  volunteers/alembic/versions/2025_12_07_2205-6b56be4bded7_change_day_scores.py
  volunteers/api/v1/admin/year/router.py
  volunteers/api/v1/admin/year/schemas.py
  volunteers/core/experience.py
  volunteers/models/__init__.py
  volunteers/models/models.py
  volunteers/services/year.py
Due: mypy, pnpm-lint, pnpm-check

change migration
  volunteers/alembic/versions/2025_12_07_2205-6b56be4bded7_change_day_scores.py
Due: mypy

Make all days mandatory
  volunteers/alembic/versions/2025_12_08_0231-2351cfc2c2ee_make_all_days_mandatory.py
Due: mypy

New certificates
  volunteers/api/v1/admin/year/router.py
  volunteers/core/experience.py
  volunteers/static/Certificates.svg
  volunteers/static/temp.svg
  volunteers/templates/certificates.html
Due: mypy

Stars in export
  ui/src/client/types.gen.ts
  ui/src/i18n/locales/en/translation.json
  ui/src/i18n/locales/ru/translation.json
  ui/src/routes/_logged-in/$yearId/days/$dayId/edit.tsx
  ui/src/routes/_logged-in/$yearId/results.tsx
  volunteers/api/v1/admin/year/router.py
  volunteers/api/v1/admin/year/schemas.py
  volunteers/services/year.py
Due: mypy, pnpm-lint, pnpm-check

Add itmo group to export
  ui/src/routes/_logged-in/$yearId/days/$dayId/edit.tsx
Due: pnpm-lint, pnpm-check

Cache and fix diplomas
  ui/src/routes/_logged-in/$yearId/results.tsx
  volunteers/services/year.py
  volunteers/utils/cache.py
Due: mypy, pnpm-lint, pnpm-check

Add patronymic to badges export
  ui/src/routes/_logged-in/$yearId/days/$dayId/edit.tsx
Due: pnpm-lint, pnpm-check

feat: add skills field to application form
  ui/src/components/DetailedUserCard.tsx
  ui/src/i18n/locales/en/translation.json
  ui/src/i18n/locales/ru/translation.json
  ui/src/routes/_logged-in/$yearId/registration.tsx
  volunteers/alembic/versions/2026_09_08_2219-d46f04d88e52_add_unusual_skills_to_application_forms.py
  volunteers/api/v1/admin/year/router.py
  volunteers/api/v1/admin/year/schemas.py
  volunteers/api/v1/year/router.py
  volunteers/api/v1/year/schemas.py
  volunteers/models/models.py
  volunteers/schemas/application_form.py
  volunteers/services/i18n.py
  volunteers/services/year.py
Due: mypy, pnpm-lint, pnpm-check

linter changes
  ui/src/client/client.gen.ts
  ui/src/client/index.ts
  ui/src/client/sdk.gen.ts
  ui/src/client/types.gen.ts
  ui/src/routes/_logged-in/$yearId/registration.tsx
  volunteers/alembic/versions/2026_09_08_2219-d46f04d88e52_add_unusual_skills_to_application_forms.py
Due: mypy, pnpm-lint, pnpm-check

fixes
  ui/src/client/client.gen.ts
  ui/src/client/index.ts
  ui/src/client/sdk.gen.ts
  ui/src/client/types.gen.ts
  ui/src/routes/_logged-in/$yearId/registration.tsx
Due: pnpm-lint, pnpm-check

type fixes again
  ui/src/routes/_logged-in/$yearId/registration.tsx
Due: pnpm-lint, pnpm-check

Update action versions
  .github/workflows/.lint.yml.swp
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: none

added export data: copy and tsv download
  ui/src/client/client.gen.ts
  ui/src/client/index.ts
  ui/src/client/sdk.gen.ts
  ui/src/client/types.gen.ts
  ui/src/data/use-admin.tsx
  ui/src/i18n/locales/en/translation.json
  ui/src/i18n/locales/ru/translation.json
  ui/src/routes/_logged-in/$yearId/days/$dayId/edit.tsx
  volunteers/api/v1/admin/user_day/router.py
  volunteers/api/v1/admin/user_day/schemas.py
Due: mypy, pnpm-lint, pnpm-check

format fixes
  ui/src/client/client.gen.ts
  ui/src/client/index.ts
  ui/src/client/sdk.gen.ts
  ui/src/client/types.gen.ts
  ui/src/data/use-admin.tsx
  ui/src/routes/_logged-in/$yearId/days/$dayId/edit.tsx
  volunteers/api/v1/admin/user_day/router.py
  volunteers/api/v1/admin/user_day/schemas.py
Due: mypy, pnpm-lint, pnpm-check

fix problem with py type
  volunteers/api/v1/admin/user_day/router.py
Due: mypy

fix end of files in test.yml
  .github/workflows/test.yml
Due: none

.github/workflows/.lint.yml.swp
  .github/workflows/.lint.yml.swp
Due: none

Update action versions (#29)
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: none

CI: read pnpm version from ui/package.json
  .github/workflows/lint.yml
Due: none

Fix outdated year service and router tests
  volunteers/api/v1/admin/year/__tests__/test_router.py
  volunteers/services/__tests__/test_year.py
Due: mypy

feat: add skills field to application form
  ui/src/components/DetailedUserCard.tsx
  ui/src/routes/_logged-in/$yearId/registration.tsx
  volunteers/alembic/versions/2026_09_08_2219-d46f04d88e52_add_unusual_skills_to_application_forms.py
  volunteers/api/v1/admin/year/router.py
  volunteers/api/v1/admin/year/schemas.py
  volunteers/api/v1/year/router.py
  volunteers/api/v1/year/schemas.py
  volunteers/models/models.py
  volunteers/schemas/application_form.py
  volunteers/services/i18n.py
  volunteers/services/year.py
Due: mypy, pnpm-lint, pnpm-check

Fix registration forms test for skills field
  volunteers/api/v1/admin/year/__tests__/test_router.py
Due: mypy

Rename unusual_skills to additional_skills and add form hint
  ui/src/client/types.gen.ts
  ui/src/components/DetailedUserCard.tsx
  ui/src/i18n/locales/en/translation.json
  ui/src/i18n/locales/ru/translation.json
  ui/src/routes/_logged-in/$yearId/registration.tsx
  volunteers/alembic/versions/2026_09_08_2219-d46f04d88e52_add_unusual_skills_to_application_forms.py
  volunteers/alembic/versions/2026_10_04_1404-0c9ac87df950_add_additional_skills_to_application_.py
  volunteers/api/v1/admin/year/__tests__/test_router.py
  volunteers/api/v1/admin/year/router.py
  volunteers/api/v1/admin/year/schemas.py
  volunteers/api/v1/year/router.py
  volunteers/api/v1/year/schemas.py
  volunteers/models/models.py
  volunteers/schemas/application_form.py
  volunteers/services/year.py
Due: mypy, pnpm-lint, pnpm-check

Add CI check that generated code is up to date
  .github/workflows/codegen.yml
  .pre-commit-config.yaml
  AGENTS.md
  ui/src/client/client.gen.ts
  ui/src/client/index.ts
  ui/src/client/sdk.gen.ts
  ui/src/client/types.gen.ts
Due: pnpm-lint, pnpm-check

Format generated OpenAPI client with biome instead of skipping pre-commit
  .pre-commit-config.yaml
  AGENTS.md
  ui/biome.json
  ui/openapi-ts.config.ts
  ui/src/client/client.gen.ts
  ui/src/client/index.ts
  ui/src/client/sdk.gen.ts
  ui/src/client/types.gen.ts
Due: pnpm-lint, pnpm-check

Revert "Format generated OpenAPI client with biome instead of skipping pre-commit"
  .pre-commit-config.yaml
  AGENTS.md
  ui/biome.json
  ui/openapi-ts.config.ts
  ui/src/client/client.gen.ts
  ui/src/client/index.ts
  ui/src/client/sdk.gen.ts
  ui/src/client/types.gen.ts
Due: pnpm-lint, pnpm-check

Path conditions:
  mypy: any of: \.py$
  pnpm-lint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  pnpm-check: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
