Repository NEERC/volunteers-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pnpm-lint, pnpm-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-added-large-files
      - id: debug-statements
      - id: check-case-conflict

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.7
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: poetry run mypy .
        language: system
        types: [python]
        require_serial: true
        pass_filenames: false
        additional_dependencies: []

  - repo: local
    hooks:
      - id: pnpm-lint
        name: pnpm-lint
        entry: cd ui && pnpm run lint --fix
        language: system
        types_or: [javascript, jsx, ts, tsx]
        require_serial: true
        pass_filenames: false

      - id: pnpm-check
        name: pnpm-check
        entry: cd ui && pnpm run check
        language: system
        types_or: [javascript, jsx, ts, tsx]
        require_serial: true
        pass_filenames: false

Fix 100% cpu usage for contacts error
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/main.tsx
  ui/src/routes/_logged-in/$yearId/contacts.tsx
Due: pnpm-lint, pnpm-check

Add forbidden route handling and improve route configuration
  ui/src/components/MainLayout.tsx
  ui/src/i18n/locales/en/translation.json
  ui/src/i18n/locales/ru/translation.json
  ui/src/routeTree.gen.ts
  ui/src/routes/_logged-in/$yearId/contacts.tsx
  ui/src/routes/_logged-in/$yearId/medals.tsx
  ui/src/routes/_logged-in/$yearId/results.tsx
  ui/src/routes/_logged-in/$yearId/settings.tsx
  ui/src/routes/_logged-in/create.tsx
  ui/src/routes/_logged-in/forbidden.tsx
  ui/src/routes/_logged-in/index.tsx
  ui/src/routes/forbidden.tsx
  ui/src/utils/should-be-logged-in.ts
Due: pnpm-lint, pnpm-check

whoops
  ui/src/routeTree.gen.ts
Due: pnpm-lint, pnpm-check

Fix import error
  ui/src/routes/_logged-in/$yearId/settings.tsx
Due: pnpm-lint, pnpm-check

Add PUBLIC_URL to docker-compose-prod.yaml
  docker-compose-prod.yaml
Due: none

Add VIRTUAL_PORT to docker-compose-prod.yaml
  docker-compose-prod.yaml
Due: none

Add ports to docker-compose-prod.yaml
  docker-compose-prod.yaml
Due: none

Refactor user assignment handling and enhance UI components
  ui/src/client/sdk.gen.ts
  ui/src/client/types.gen.ts
  ui/src/routes/_logged-in/$yearId/days/$dayId/edit.tsx
  volunteers/api/v1/admin/user_day/router.py
  volunteers/api/v1/admin/user_day/schemas.py
  volunteers/api/v1/year/router.py
  volunteers/models/models.py
Due: mypy, pnpm-lint, pnpm-check

Enhance user experience data handling and UI display
  ui/src/client/types.gen.ts
  ui/src/routes/_logged-in/$yearId/days/$dayId/edit.tsx
  volunteers/alembic/versions/2025_09_23_0547_252ee2774277_import_old_data.py
  volunteers/api/v1/admin/year/__tests__/test_router.py
  volunteers/api/v1/admin/year/router.py
  volunteers/api/v1/admin/year/schemas.py
  volunteers/services/year.py
Due: mypy, pnpm-lint, pnpm-check

fix tsc
  ui/src/routes/_logged-in/$yearId/days/$dayId/edit.tsx
Due: pnpm-lint, pnpm-check

Update README and enhance UI components
  README.md
  ui/src/routes/__root.tsx
  ui/src/routes/_logged-in/$yearId/days/$dayId/edit.tsx
Due: pnpm-lint, pnpm-check

Add pubic url to docker
  ui/Dockerfile
Due: none

fix
  ui/src/main.tsx
Due: pnpm-lint, pnpm-check

Add base url for router
  ui/src/main.tsx
Due: pnpm-lint, pnpm-check

Add icon
  ui/src/routes/_logged-in/$yearId/settings.tsx
Due: pnpm-lint, pnpm-check

Make telegram bigint
  volunteers/alembic/versions/2025_10_20_1730-b756d8f01982_telegram_is_bigint.py
  volunteers/models/models.py
Due: mypy

Fix no isu id edit
  ui/src/routes/login.tsx
Due: pnpm-lint, pnpm-check

Redo auth flow
  ui/src/store/auth.ts
Due: pnpm-lint, pnpm-check

Hide attendance
  ui/src/client/types.gen.ts
  ui/src/routes/_logged-in/$yearId/days/$dayId/index.tsx
  volunteers/api/v1/year/router.py
  volunteers/schemas/day_assignment.py
Due: mypy, pnpm-lint, pnpm-check

Add registration forms feature
  ui/src/components/DetailedUserCard.tsx
  ui/src/components/MainLayout.tsx
  ui/src/i18n/locales/en/translation.json
  ui/src/i18n/locales/ru/translation.json
  ui/src/routeTree.gen.ts
  ui/src/routes/_logged-in/$yearId/contacts.tsx
  ui/src/routes/_logged-in/$yearId/days/$dayId/edit.tsx
  ui/src/routes/_logged-in/$yearId/registration-forms.tsx
Due: pnpm-lint, pnpm-check

Login errors
  ui/src/client/types.gen.ts
  ui/src/routes/login.tsx
  ui/src/store/auth.ts
  volunteers/schemas/base.py
Due: mypy, pnpm-lint, pnpm-check

Pinning
  ui/src/routes/_logged-in/$yearId/days/$dayId/edit.tsx
Due: pnpm-lint, pnpm-check

Clicks for editing. And mobile improvements
  ui/src/components/DetailedUserCard.tsx
  ui/src/hooks/useAssignmentOperations.ts
  ui/src/hooks/useClickSelection.ts
  ui/src/hooks/useDayAssignmentManager.ts
  ui/src/hooks/useOptimisticUpdates.ts
  ui/src/routes/_logged-in/$yearId/days/$dayId/edit.tsx
  ui/src/utils/apiErrorHandling.ts
Due: pnpm-lint, pnpm-check

Add axios dependency and improve API error handling
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/hooks/useAssignmentOperations.ts
  ui/src/hooks/useDayAssignmentManager.ts
  ui/src/main.tsx
  ui/src/utils/apiErrorHandling.ts
Due: pnpm-lint, pnpm-check

Fixes
  ui/src/routes/__root.tsx
  ui/src/store/auth.ts
Due: pnpm-lint, pnpm-check

Day management in settings tab
  ui/src/client/sdk.gen.ts
  ui/src/client/types.gen.ts
  ui/src/components/MainLayout.tsx
  ui/src/data/index.ts
  ui/src/data/query-keys.ts
  ui/src/data/use-admin.tsx
  ui/src/i18n/locales/en/translation.json
  ui/src/i18n/locales/ru/translation.json
  ui/src/routeTree.gen.ts
  ui/src/routes/_logged-in/$yearId/days/$dayId/index.tsx
  ui/src/routes/_logged-in/$yearId/days/create.tsx
  ui/src/routes/_logged-in/$yearId/settings.tsx
  volunteers/alembic/versions/2025_10_25_2103-6a74c54533d2_add_day_scores.py
  volunteers/api/v1/admin/day/router.py
  volunteers/api/v1/admin/day/schemas.py
  volunteers/api/v1/year/router.py
  volunteers/api/v1/year/schemas.py
  volunteers/models/models.py
  volunteers/schemas/day.py
  volunteers/services/__tests__/test_year.py
  volunteers/services/year.py
Due: mypy, pnpm-lint, pnpm-check

Add backup service to Docker setup
  backup/Dockerfile
  backup/backup.sh
  backups/log.txt
  docker-compose-dev.yaml
  docker-compose-prod.yaml
Due: none

fix
  .pre-commit-config.yaml
  ui/package.json
  ui/src/client/types.gen.ts
  ui/src/data/use-admin.tsx
  ui/src/routes/_logged-in/$yearId/days/$dayId/index.tsx
  ui/src/routes/_logged-in/$yearId/settings.tsx
  volunteers/schemas/base.py
Due: mypy, pnpm-lint, pnpm-check

Add assignment_published feature for day management
  ui/src/client/types.gen.ts
  ui/src/routes/_logged-in/$yearId/days/$dayId/edit.tsx
  ui/src/routes/_logged-in/$yearId/days/$dayId/index.tsx
  ui/src/routes/_logged-in/$yearId/settings.tsx
  volunteers/alembic/versions/2025_10_26_2247-0f0ce454d3ce_add_assignment_published_column.py
  volunteers/api/v1/admin/day/router.py
  volunteers/api/v1/admin/day/schemas.py
  volunteers/api/v1/year/router.py
  volunteers/api/v1/year/schemas.py
  volunteers/models/models.py
  volunteers/schemas/day.py
  volunteers/services/year.py
Due: mypy, pnpm-lint, pnpm-check

i18n improvements
  ui/src/components/DetailedUserCard.tsx
  ui/src/i18n/locales/en/translation.json
  ui/src/i18n/locales/ru/translation.json
  ui/src/routes/_logged-in/$yearId/contacts.tsx
  ui/src/routes/_logged-in/$yearId/days/$dayId/edit.tsx
  ui/src/routes/_logged-in/$yearId/days/$dayId/index.tsx
  ui/src/routes/_logged-in/$yearId/index.tsx
  ui/src/routes/_logged-in/$yearId/registration-forms.tsx
  ui/src/routes/_logged-in/create.tsx
  ui/src/routes/login.tsx
Due: pnpm-lint, pnpm-check

Backup cleanly
  backup/backup.sh
Due: none

Some improvements
  ui/src/routes/_logged-in/$yearId/days/$dayId/edit.tsx
Due: pnpm-lint, pnpm-check

fix staging colors
  ui/src/routes/__root.tsx
Due: pnpm-lint, pnpm-check

Implement user management features
  ui/src/client/sdk.gen.ts
  ui/src/client/types.gen.ts
  ui/src/components/MainLayout.tsx
  ui/src/data/query-keys.ts
  ui/src/data/use-admin.tsx
  ui/src/i18n/locales/en/translation.json
  ui/src/i18n/locales/ru/translation.json
  ui/src/routeTree.gen.ts
  ui/src/routes/_logged-in/$yearId/users.tsx
  ui/src/routes/_logged-in/users/$userId.tsx
  ui/src/routes/_logged-in/users/index.tsx
  ui/src/store/auth.ts
  volunteers/api/v1/admin/router.py
  volunteers/api/v1/admin/user/__init__.py
  volunteers/api/v1/admin/user/router.py
  volunteers/api/v1/admin/user/schemas.py
  volunteers/services/user.py
Due: mypy, pnpm-lint, pnpm-check

Add volunteer count text
  ui/src/i18n/locales/en/translation.json
  ui/src/i18n/locales/ru/translation.json
  ui/src/routes/_logged-in/$yearId/days/$dayId/edit.tsx
Due: pnpm-lint, pnpm-check

Add needs_invitation field to application forms
  AGENTS.md
  README.md
  poetry.lock
  pyproject.toml
  ui/biome.json
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/client/types.gen.ts
  ui/src/components/DetailedUserCard.tsx
  ui/src/i18n/locales/en/translation.json
  ui/src/i18n/locales/ru/translation.json
  ui/src/routes/_logged-in/$yearId/registration.tsx
  volunteers/alembic/versions/2025_11_08_0140-56fe408ce2f9_add_needs_invitation_to_application_form.py
  volunteers/api/v1/admin/year/router.py
  volunteers/api/v1/admin/year/schemas.py
  volunteers/api/v1/year/router.py
  volunteers/api/v1/year/schemas.py
  volunteers/models/models.py
  volunteers/schemas/application_form.py
  volunteers/services/__tests__/test_year.py
  volunteers/services/year.py
Due: mypy, pnpm-lint, pnpm-check

Refactor user name fields in the application
  ui/src/client/types.gen.ts
  ui/src/components/DetailedUserCard.tsx
  ui/src/data/use-admin.tsx
  ui/src/i18n/locales/en/translation.json
  ui/src/i18n/locales/ru/translation.json
  ui/src/routes/_logged-in/$yearId/contacts.tsx
  ui/src/routes/_logged-in/$yearId/registration-forms.tsx
  ui/src/routes/_logged-in/$yearId/registration.tsx
  ui/src/routes/_logged-in/users/$userId.tsx
  ui/src/routes/_logged-in/users/index.tsx
  ui/src/routes/login.tsx
  volunteers/alembic/versions/2025_11_08_0203-eef28c0cd39e_split_full_name_en_into_first_and_last.py
  volunteers/api/v1/admin/assessment/__tests__/test_router.py
  volunteers/api/v1/admin/day/__tests__/test_router.py
  volunteers/api/v1/admin/position/__tests__/test_router.py
  volunteers/api/v1/admin/user/router.py
  volunteers/api/v1/admin/user/schemas.py
  volunteers/api/v1/admin/user_day/__tests__/test_router.py
  volunteers/api/v1/admin/year/__tests__/test_router.py
  volunteers/api/v1/admin/year/__tests__/test_users_list.py
  volunteers/api/v1/admin/year/router.py
  volunteers/api/v1/admin/year/schemas.py
  volunteers/api/v1/auth/__tests__/test_router.py
  volunteers/api/v1/auth/router.py
  volunteers/api/v1/auth/schemas.py
  volunteers/api/v1/year/__tests__/test_router.py
  volunteers/api/v1/year/router.py
  volunteers/models/models.py
  volunteers/schemas/user.py
  volunteers/services/__tests__/test_user.py
  volunteers/services/user.py
Due: mypy, pnpm-lint, pnpm-check

Notifications and some other stuff
  .env.example
  poetry.lock
  pyproject.toml
  ui/src/i18n/locales/ru/translation.json
  volunteers/alembic/env.py
  volunteers/api/v1/admin/day/router.py
  volunteers/api/v1/admin/day/schemas.py
  volunteers/api/v1/admin/user_day/router.py
  volunteers/app.py
  volunteers/auth/deps.py
  volunteers/bot/__init__.py
  volunteers/bot/__main__.py
  volunteers/bot/notify.py
  volunteers/core/config.py
  volunteers/core/db.py
  volunteers/core/di.py
  volunteers/core/tg.py
  volunteers/services/base.py
  volunteers/services/year.py
Due: mypy

Add more table options for contacts
  ui/src/routes/_logged-in/$yearId/contacts.tsx
Due: pnpm-lint, pnpm-check
