Repository NEERC/volunteers-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pnpm-lint, pnpm-check

mypy:
  name: mypy
  entry: poetry run mypy .
  language: system
  require_serial: true
  pass_filenames: false
  additional_dependencies: []

pnpm-lint:
  name: pnpm-lint
  entry: cd ui && pnpm run lint --fix
  language: system
  require_serial: true
  pass_filenames: false

pnpm-check:
  name: pnpm-check
  entry: cd ui && pnpm run check
  language: system
  require_serial: true
  pass_filenames: false

Years and days and registration form
  ui/openapi-ts.config.ts
  ui/src/client/client.gen.ts
  ui/src/client/index.ts
  ui/src/client/sdk.gen.ts
  ui/src/client/types.gen.ts
  ui/src/components/MainLayout.tsx
  ui/src/routeTree.gen.ts
  ui/src/routes/_logged-in.tsx
  ui/src/routes/_logged-in/$yearId.tsx
  ui/src/routes/_logged-in/$yearId/contacts.tsx
  ui/src/routes/_logged-in/$yearId/days/$dayId.tsx
  ui/src/routes/_logged-in/$yearId/days/create.tsx
  ui/src/routes/_logged-in/$yearId/medals.tsx
  ui/src/routes/_logged-in/$yearId/registration.tsx
  ui/src/routes/_logged-in/$yearId/results.tsx
  ui/src/routes/_logged-in/$yearId/settings.tsx
  ui/src/routes/_logged-in/$yearId/users.tsx
  ui/src/routes/_logged-in/create.tsx
  ui/src/routes/forbidden.tsx
  ui/src/routes/login.tsx
  ui/src/store/auth.ts
  volunteers/alembic/versions/842a2bbaad5e_lol.py
  volunteers/app.py
Due: mypy, pnpm-lint, pnpm-check

Also allow updates to the user info when registering
  prometheus/prometheus.yml
  ui/src/client/sdk.gen.ts
  ui/src/client/types.gen.ts
  ui/src/components/MainLayout.tsx
  ui/src/routes/_logged-in/$yearId/registration.tsx
  volunteers/api/v1/auth/router.py
  volunteers/api/v1/auth/schemas.py
  volunteers/schemas/user.py
  volunteers/services/user.py
Due: mypy, pnpm-lint, pnpm-check

Fix tests
  volunteers/__tests__/test_app.py
Due: mypy

Fix lint
  ui/src/client/client.gen.ts
  ui/src/client/index.ts
  ui/src/client/sdk.gen.ts
  ui/src/client/types.gen.ts
  ui/src/routes/_logged-in/$yearId/registration.tsx
  ui/src/routes/login.tsx
  volunteers/alembic/versions/842a2bbaad5e_lol.py
  volunteers/api/v1/auth/router.py
  volunteers/services/user.py
Due: mypy, pnpm-lint, pnpm-check

Update pre-commit
  .pre-commit-config.yaml
Due: none

add pnpm
  .github/workflows/lint.yml
Due: none

Fix lint
  ui/src/components/MainLayout.tsx
  ui/src/store/auth.ts
Due: pnpm-lint, pnpm-check

fix lint
  ui/src/components/MainLayout.tsx
  ui/src/data/use-years.tsx
  ui/src/main.tsx
  ui/src/routes/_logged-in.tsx
  ui/src/routes/_logged-in/$yearId.tsx
  ui/src/routes/_logged-in/$yearId/contacts.tsx
  ui/src/routes/_logged-in/$yearId/days/$dayId.tsx
  ui/src/routes/_logged-in/$yearId/days/create.tsx
  ui/src/routes/_logged-in/$yearId/medals.tsx
  ui/src/routes/_logged-in/$yearId/registration.tsx
  ui/src/routes/_logged-in/$yearId/results.tsx
  ui/src/routes/_logged-in/$yearId/settings.tsx
  ui/src/routes/_logged-in/$yearId/users.tsx
  ui/src/routes/_logged-in/create.tsx
  ui/src/routes/forbidden.tsx
  ui/src/routes/login.tsx
  ui/src/store/auth.ts
  ui/vite.config.js
Due: pnpm-lint, pnpm-check

Clarify fallback route comment
  volunteers/app.py
Due: mypy

Rename edit_position to edit_user_day
  volunteers/api/v1/admin/user_day/router.py
Due: mypy

Fixes
  .vscode/settings.json
  biome.json
  justfile
  ui/package.json
  ui/src/components/MainLayout.tsx
  ui/src/routes/login.tsx
  ui/src/store/auth.ts
  ui/tsconfig.json
Due: pnpm-lint, pnpm-check

Add user email, phone and telegram username storing
  .vscode/settings.json
  README.md
  ui/src/client/types.gen.ts
  ui/src/components/MainLayout.tsx
  ui/src/data/index.ts
  ui/src/data/query-keys.ts
  ui/src/data/use-admin.tsx
  ui/src/data/use-auth.tsx
  ui/src/data/use-year.tsx
  ui/src/data/use-years.tsx
  ui/src/routes/_logged-in/$yearId/registration.tsx
  ui/src/routes/_logged-in/$yearId/settings.tsx
  ui/src/routes/_logged-in/create.tsx
  volunteers/alembic/versions/ffef4006794c_add_phone_email_telegram_username_.py
  volunteers/api/v1/auth/router.py
  volunteers/api/v1/auth/schemas.py
  volunteers/models/models.py
  volunteers/schemas/user.py
  volunteers/services/__tests__/test_user.py
  volunteers/services/user.py
Due: mypy, pnpm-lint, pnpm-check

Fix tests
  volunteers/api/v1/auth/__tests__/test_router.py
Due: mypy

Add legacy user migration and authentication: implement migration of legacy users to new schema, add Telegram migration endpoint, and enhance user authentication flow with legacy user verification.
  README.md
  alembic.ini
  poetry.lock
  pyproject.toml
  ui/src/client/sdk.gen.ts
  ui/src/client/types.gen.ts
  ui/src/components/MainLayout.tsx
  ui/src/routes/_logged-in/$yearId/registration.tsx
  ui/src/routes/_logged-in/$yearId/settings.tsx
  ui/src/routes/login.tsx
  ui/src/store/auth.ts
  volunteers/alembic/versions/2025_09_22_2303-d0b6e64e702c_make_telegram_id_optionsl.py
  volunteers/alembic/versions/252ee2774277_import_old_data.py
  volunteers/alembic/versions/7af3bb8e3e94_add_legacy_user.py
  volunteers/api/v1/auth/router.py
  volunteers/api/v1/auth/schemas.py
  volunteers/api/v1/year/router.py
  volunteers/api/v1/year/schemas.py
  volunteers/auth/deps.py
  volunteers/auth/providers/legacy.py
  volunteers/core/di.py
  volunteers/models/__init__.py
  volunteers/models/models.py
  volunteers/schemas/user.py
  volunteers/services/legacy_user.py
  volunteers/services/user.py
Due: mypy, pnpm-lint, pnpm-check

Update README
  README.md
Due: none

Add data migration scripts and documentation: create load scripts for MySQL to PostgreSQL migration, add migration README for process overview, and update .gitignore to exclude SQL files.
  .gitignore
  MIGRATION_README.md
  load_data.load
  load_sql.load
  volunteers/alembic/versions/252ee2774277_import_old_data.py
Due: mypy

Refactor Biome configuration: migrate to new schema, update settings, and remove old configuration file
  .vscode/settings.json
  biome.json
  ui/biome.json
  ui/package.json
  ui/pnpm-lock.yaml
Due: none

Add user management features: implement user list retrieval with registration status, enhance UI for displaying user contacts, and integrate virtual scrolling for improved performance.
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/client/sdk.gen.ts
  ui/src/client/types.gen.ts
  ui/src/data/query-keys.ts
  ui/src/data/use-admin.tsx
  ui/src/routes/_logged-in/$yearId/contacts.tsx
  ui/src/routes/_logged-in/$yearId/days/create.tsx
  volunteers/api/v1/admin/year/__tests__/test_users_list.py
  volunteers/api/v1/admin/year/router.py
  volunteers/api/v1/admin/year/schemas.py
  volunteers/services/user.py
Due: mypy, pnpm-lint, pnpm-check

Add TypeScript declarations for font sources, update API response types, and clean up unused query keys in the admin module
  .vscode/settings.json
  ui/.cta.json
  ui/biome.json
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/client/types.gen.ts
  ui/src/components/MainLayout.tsx
  ui/src/data/index.ts
  ui/src/data/query-keys.ts
  ui/src/data/use-admin.tsx
  ui/src/data/use-auth.tsx
  ui/src/data/use-year.tsx
  ui/src/data/use-years.tsx
  ui/src/global.d.ts
  ui/src/main.tsx
  ui/src/routes/__root.tsx
  ui/src/routes/_logged-in.tsx
  ui/src/routes/_logged-in/$yearId.tsx
  ui/src/routes/_logged-in/$yearId/days/create.tsx
  ui/src/routes/_logged-in/$yearId/index.tsx
  ui/src/routes/_logged-in/$yearId/registration.tsx
  ui/src/routes/_logged-in/$yearId/settings.tsx
  ui/src/routes/_logged-in/create.tsx
  ui/src/routes/login.tsx
  ui/src/store/auth.ts
  ui/tsconfig.json
  ui/vite.config.js
  volunteers/api/v1/admin/assessment/router.py
  volunteers/api/v1/admin/day/router.py
  volunteers/api/v1/admin/position/router.py
  volunteers/api/v1/admin/user_day/router.py
  volunteers/api/v1/admin/year/router.py
Due: mypy, pnpm-lint, pnpm-check

Refactor authentication and registration logic: replace useQuery with useMutation for user updates, consolidate save functionality in useSaveRegistration, and streamline registration form submission.
  ui/src/data/use-auth.tsx
  ui/src/data/use-year.tsx
  ui/src/routes/_logged-in/$yearId/registration.tsx
Due: pnpm-lint, pnpm-check

Create LICENSE
  LICENSE
Due: none

Move user day assignment to public facing API
  ui/src/client/sdk.gen.ts
  ui/src/client/types.gen.ts
  ui/src/components/LinkButton.tsx
  ui/src/data/query-keys.ts
  ui/src/data/use-year.tsx
  ui/src/i18n/locales/en/translation.json
  ui/src/i18n/locales/ru/translation.json
  ui/src/routeTree.gen.ts
  ui/src/routes/_logged-in/$yearId/days/$dayId/edit.tsx
  ui/src/routes/_logged-in/$yearId/days/$dayId/index.tsx
  ui/src/routes/_logged-in/$yearId/days/create.tsx
  ui/src/routes/_logged-in/$yearId/index.tsx
  volunteers/api/v1/year/__tests__/__init__.py
  volunteers/api/v1/year/__tests__/test_router.py
  volunteers/api/v1/year/router.py
  volunteers/api/v1/year/schemas.py
  volunteers/schemas/day_assignment.py
  volunteers/services/year.py
Due: mypy, pnpm-lint, pnpm-check

Prepare for staging
  .dockerignore
  .env.example
  Dockerfile
  Dockerfile.backend
  docker-compose-prod.yaml
  nginx.conf
  poetry.lock
  pyproject.toml
  ui/.dockerignore
  ui/Dockerfile
  ui/nginx.conf
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/routes/__root.tsx
  ui/vite.config.js
  volunteers/core/config.py
Due: mypy, pnpm-lint, pnpm-check

remove ports
  docker-compose-prod.yaml
Due: none

Include environment variables for bot handle and origin in Docker configuration, and update login route to utilize these variables for dynamic iframe source.
  .env.example
  docker-compose-prod.yaml
  ui/Dockerfile
  ui/src/const.ts
  ui/src/routes/login.tsx
Due: pnpm-lint, pnpm-check

Protect admin
  volunteers/api/v1/admin/router.py
Due: mypy

Log
  volunteers/auth/deps.py
Due: mypy

Update .gitignore
  .gitignore
Due: none

Create Dockerfiles
  .dockerignore
  backend.Dockerfile
  docker-compose.yaml
  frontend.Dockerfile
  nginx/nginx.conf
Due: none

Move related files to alertmanager directory
  alertmanager/alertmanager.template.yml
  alertmanager/entrypoint.sh
  alertmanager/templates/telegram.tmpl
  docker-compose-dev.yaml
Due: none

Fix migration name shenanigans
  volunteers/alembic/versions/2025_05_03_1739_e64a68a01003_init.py
  volunteers/alembic/versions/2025_05_17_2331_c3462addaa0d_wtf.py
  volunteers/alembic/versions/2025_05_31_0208_842a2bbaad5e_lol.py
  volunteers/alembic/versions/2025_09_06_1623_ffef4006794c_add_phone_email_telegram_username_.py
  volunteers/alembic/versions/2025_09_21_2023_e0fc8f82a9af_add_can_desire_to_positions.py
  volunteers/alembic/versions/2025_09_22_2149_7af3bb8e3e94_add_legacy_user.py
  volunteers/alembic/versions/2025_09_23_0547_252ee2774277_import_old_data.py
Due: mypy

Fix 'role "root" does not exist' spam in postgres logs
  docker-compose.yaml
Due: none

Do not show config at INFO level
  volunteers/app.py
Due: mypy

Merge changes from main. Add healthchecks
  Dockerfile
  Dockerfile.backend
  backend.Dockerfile
  docker-compose-prod.yaml
  docker-compose.yaml
  frontend.Dockerfile
  nginx.conf
  nginx/nginx.conf
  proxy/Dockerfile
  proxy/nginx.conf
  ui/Dockerfile
  ui/nginx.conf
  volunteers/app.py
Due: mypy

Fix schema checking
  volunteers/alembic/versions/2025_09_23_0547_252ee2774277_import_old_data.py
Due: mypy

Fix ruff error
  volunteers/app.py
Due: mypy

Docker files refactoring. Database migrations can now be used from scratch. (#23)
  .dockerignore
  .gitignore
  Dockerfile
  Dockerfile.backend
  alertmanager/alertmanager.template.yml
  alertmanager/entrypoint.sh
  alertmanager/templates/telegram.tmpl
  docker-compose-dev.yaml
  docker-compose-prod.yaml
  nginx.conf
  proxy/Dockerfile
  proxy/nginx.conf
  ui/Dockerfile
  ui/nginx.conf
  volunteers/alembic/versions/2025_05_03_1739_e64a68a01003_init.py
  volunteers/alembic/versions/2025_05_17_2331_c3462addaa0d_wtf.py
  volunteers/alembic/versions/2025_05_31_0208_842a2bbaad5e_lol.py
  volunteers/alembic/versions/2025_09_06_1623_ffef4006794c_add_phone_email_telegram_username_.py
  volunteers/alembic/versions/2025_09_21_2023_e0fc8f82a9af_add_can_desire_to_positions.py
  volunteers/alembic/versions/2025_09_22_2149_7af3bb8e3e94_add_legacy_user.py
  volunteers/alembic/versions/2025_09_23_0547_252ee2774277_import_old_data.py
  volunteers/app.py
Due: mypy

Adaptivity
  .gitignore
  ui/src/components/MainLayout.tsx
  ui/src/routes/_logged-in/$yearId/contacts.tsx
  ui/src/routes/_logged-in/$yearId/registration.tsx
  ui/src/routes/login.tsx
  ui/src/styles.css
Due: pnpm-lint, pnpm-check

Rework login
  ui/src/routes/login.tsx
Due: pnpm-lint, pnpm-check

Path conditions:
  mypy: any of: \.py$
  pnpm-lint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  pnpm-check: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
