Repository NEERC/volunteers-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pnpm-lint, pnpm-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-added-large-files
      - id: debug-statements
      - id: check-case-conflict

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.7
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: poetry run mypy .
        language: system
        types: [python]
        require_serial: true
        pass_filenames: false
        additional_dependencies: []

  - repo: local
    hooks:
      - id: pnpm-lint
        name: pnpm-lint
        entry: cd ui && pnpm run lint --fix
        language: system
        types_or: [javascript, jsx, ts, tsx]
        require_serial: true
        pass_filenames: false

      - id: pnpm-check
        name: pnpm-check
        entry: cd ui && pnpm run check
        language: system
        types_or: [javascript, jsx, ts, tsx]
        require_serial: true
        pass_filenames: false

Keep generated code out of linters and formatters
  .gitattributes
  .pre-commit-config.yaml
  AGENTS.md
Due: none

CI: check that generated code is up to date (#40)
  .gitattributes
  .github/workflows/codegen.yml
  .pre-commit-config.yaml
  AGENTS.md
  ui/src/client/client.gen.ts
  ui/src/client/index.ts
  ui/src/client/sdk.gen.ts
  ui/src/client/types.gen.ts
Due: pnpm-lint, pnpm-check

feat: add skills field to application form (#28)
  ui/src/client/types.gen.ts
  ui/src/components/DetailedUserCard.tsx
  ui/src/i18n/locales/en/translation.json
  ui/src/i18n/locales/ru/translation.json
  ui/src/routes/_logged-in/$yearId/registration.tsx
  volunteers/alembic/versions/2026_10_04_1404-0c9ac87df950_add_additional_skills_to_application_.py
  volunteers/api/v1/admin/year/__tests__/test_router.py
  volunteers/api/v1/admin/year/router.py
  volunteers/api/v1/admin/year/schemas.py
  volunteers/api/v1/year/router.py
  volunteers/api/v1/year/schemas.py
  volunteers/models/models.py
  volunteers/schemas/application_form.py
  volunteers/services/i18n.py
  volunteers/services/year.py
Due: mypy, pnpm-lint, pnpm-check

Detect country on the frontend via 2ip.io instead of DB-IP
  .env.example
  Dockerfile
  poetry.lock
  pyproject.toml
  ui/src/client/sdk.gen.ts
  ui/src/client/types.gen.ts
  ui/src/components/AuthMethodsInfo.tsx
  ui/src/data/use-auth.tsx
  ui/src/i18n/locales/en/translation.json
  ui/src/i18n/locales/ru/translation.json
  ui/src/utils/telegramOverride.ts
  volunteers/api/v1/auth/__tests__/test_router.py
  volunteers/api/v1/auth/router.py
  volunteers/api/v1/auth/schemas.py
  volunteers/core/config.py
  volunteers/core/di.py
  volunteers/services/__tests__/test_geoip.py
  volunteers/services/geoip.py
Due: mypy, pnpm-lint, pnpm-check

Fix backend port leaked into generated API types
  ui/src/client/types.gen.ts
Due: pnpm-lint, pnpm-check

CI: include exact Python version in the venv cache key
  .github/workflows/codegen.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: none

Detect country on the frontend via 2ip.io instead of DB-IP (#44)
  .env.example
  .github/workflows/codegen.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  Dockerfile
  poetry.lock
  pyproject.toml
  ui/src/client/sdk.gen.ts
  ui/src/client/types.gen.ts
  ui/src/components/AuthMethodsInfo.tsx
  ui/src/data/use-auth.tsx
  ui/src/i18n/locales/en/translation.json
  ui/src/i18n/locales/ru/translation.json
  ui/src/utils/telegramOverride.ts
  volunteers/api/v1/auth/__tests__/test_router.py
  volunteers/api/v1/auth/router.py
  volunteers/api/v1/auth/schemas.py
  volunteers/core/config.py
  volunteers/core/di.py
  volunteers/services/__tests__/test_geoip.py
  volunteers/services/geoip.py
Due: mypy, pnpm-lint, pnpm-check

Respect PUBLIC_URL base path in Keycloak redirect_uri
  ui/src/utils/keycloak.ts
Due: pnpm-lint, pnpm-check

Add smoke e2e tests with Playwright
  .github/workflows/e2e.yml
  e2e/.gitignore
  e2e/ISSUES.md
  e2e/README.md
  e2e/mock/server.mjs
  e2e/package.json
  e2e/playwright.config.ts
  e2e/pnpm-lock.yaml
  e2e/scripts/backend.sh
  e2e/scripts/prepare-db.mjs
  e2e/scripts/stack.mjs
  e2e/stack.config.mjs
  e2e/support/api.ts
  e2e/support/auth.ts
  e2e/support/diagnostics.ts
  e2e/support/external.ts
  e2e/support/fixtures.ts
  e2e/support/results-certificates.ts
  e2e/support/users.ts
  e2e/support/volunteer-registration.ts
  e2e/tests/admin-entities.spec.ts
  e2e/tests/assignments.spec.ts
  e2e/tests/auth.setup.ts
  e2e/tests/results-certificates.spec.ts
  e2e/tests/volunteer-registration.spec.ts
  e2e/tsconfig.json
  ui/vite.config.js
  volunteers/core/config.py
  volunteers/core/di.py
  volunteers/core/tg.py
Due: mypy, pnpm-lint, pnpm-check
